.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background: #004C99;
  position: absolute;
  border: transparent;
}

img{
  object-fit: cover;
  width: 80%;
  margin-left: 5%;
}

.navBtn {
  color: #ffffffcf;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  background-color: transparent;
  border: transparent;
}
