<div fxLayout="row" fxLayoutAlign="center" class="login">
  <mat-card>
    <mat-card-header fxLayoutAlign="center">
      <mat-card-title>Registrere ny bruger</mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayout="column" fxLayoutAlign="center center">
      <form [formGroup]="registerForm" fxLayout="column">
        <mat-form-field appearance="standard">
          <mat-label>Fornavn</mat-label>
          <input id="firstName" matInput placeholder="Fornavn" formControlName="firstName" required>
        </mat-form-field>
        <mat-label *ngIf="firstName.touched && firstName.invalid">Navn skal udfyldes</mat-label>
        <mat-form-field appearance="standard">
          <mat-label>Efternavn</mat-label>
          <input matInput placeholder="Efternavn" formControlName="lastName" required>
        </mat-form-field>
        <mat-label *ngIf="lastName.touched && lastName.invalid">Efternavn skal udfyldes</mat-label>
        <mat-form-field appearance="standard">
          <mat-label>Adresse</mat-label>
          <input matInput placeholder="Adresse" formControlName="address" required>
        </mat-form-field>
        <mat-label *ngIf="address.touched && address.invalid">Adresse skal udfyldes</mat-label>
        <mat-form-field appearance="standard">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" formControlName="email" required>
        </mat-form-field>
        <mat-label *ngIf="email.touched && email.invalid">Ugyldig email</mat-label>
        <mat-form-field appearance="standard">
          <mat-label>Telefon nummer</mat-label>
          <input matInput placeholder="Telefon nummer" formControlName="phoneNumber" required>
        </mat-form-field>
        <mat-label *ngIf="phoneNumber.touched && phoneNumber.invalid">Ugyldig telefon nummmer</mat-label>
        <mat-form-field appearance="standard">
          <mat-label>Enter password</mat-label>
          <input id="password" matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>Enter password</mat-label>
          <input id="password2" matInput [type]="hide ? 'password' : 'text'" formControlName="password2" required>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <mat-label *ngIf="password.touched && password.invalid ">*Minimum 8 karakter</mat-label>
        <mat-label *ngIf="password.value !== password2.value">*Password skal matche</mat-label>
      </form>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="center">
      <button id="registerButton" mat-raised-button color="primary" (click)="onSubmit()" [disabled]="checkValidate()">Registrere bruger</button>
    </mat-card-actions>
    <mat-card-actions fxLayoutAlign="center">
      <a routerLink="/login">Tilbage til login side</a>
    </mat-card-actions>
  </mat-card>
</div>
